:root {
    --theme-color: #ff0000;
    --base-background-color: black;
    --base-font-family: 'Press Start 2P';
    --base-font-size: 16px;

    /* custom markdown styles */
    --code-inline-background: #222222;

    /* custom sidebar styles */
    --sidebar-background: black;
    --sidebar-width: 400px;
    --sidebar-border-color: red;
    --sidebar-toggle-background: red;
    --sidebar-toggle-icon-color: white;
    --sidebar-toggle-icon-width: 20px;
}

.default-btn {
    background-color: black;
    color: white;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

.default-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/*Accordion*/
details {
    overflow: hidden;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;

    transition: 0.3s;
}

details:hover
{
    background-color: white;
}

summary {
    display: block; /* This hides the summary's ::marker pseudo-element */
    color: white;
    font-size: 20px;
    
    transition: 0.3s;
}

summary::-webkit-details-marker {
    display: none; /* This also hides the ::marker pseudo-element, but in Safari */
}

details:hover summary
{
    color: black;
}

div.accordionContent { 
    box-sizing: border-box;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    border: 2px solid transparent;
    transition: max-height 400ms ease-out, border 0ms 400ms linear;

    margin-bottom: 20px;
}

details[open] + div.accordionContent {
    max-height: 2000px; /* Set a max-height value enough to show all the content */        
    border-color: white;
    transition: max-height 400ms ease-out, border 0ms linear;
}

details[open] span::before {
    rotate: 90deg;
    transition: rotate 200ms ease-out;
}

.accordionContent h1{
    display: none;
}